@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">Weather app by Gonçalo Silva</h1>
    <p>The goal of this app is to provide the end user with access to weather forecasts from around the globe.</p>
</div>
