@{
    ViewData["Title"] = "Credits";
}

<div class="text-center">
    <h1 class="display-4">Author</h1>
    <p>Gonçalo Silva</p>
    <br />
    <h1 class="display-4">Date</h1>
    <p>27/12/2022</p>
    <br />
    <h1 class="display-4">Version</h1>
    <p>1.0</p>
</div>
